@use "./_fonts.scss";

*, *::after, *::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

li {
  list-style-type: none;
}

:root {
  font-family: "Inter", Helvetica, Arial, sans-serif;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  box-sizing: border-box;

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;

  background-color: #f1f1f1;
}

.main {
  margin: 0 auto;
}
