.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 12px;

  .loading {
    vertical-align: top;
    padding-top: 6px;
    width: 100%;
    height: 90px;
  }

  .more {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 90px;
    padding-top: 6px;

    .btn {
      justify-self: flex-end;
      width: 100%;
      height: 34px;

      font-size: 14px;

      border: none;
      border-radius: 20px;
      color: #292928;
      background-color: white;
    }
  }
}

