.categories {
  display: flex;
  flex-direction: row;
  gap: 5px;

  overflow-y: scroll;
  scrollbar-width: none;

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      width: 66px;
      height: 66px;

      border-radius: 15px;

      object-fit: cover;
      object-position: center;
    }

    .name {
      width: 79px;

      font-size: 12px;

      white-space: nowrap;
      text-overflow: ellipsis;

      overflow: hidden;
    }
  }
}

@media (min-width: 425px) {
  .categories {
    .category {
      .image {
        width: 79px;
        height: 79px;
      }

      .name {
        width: 79px;

        font-size: 13px;
      }
    }
  }
}

@media (min-width: 600px) {
  .categories {
    .category {
      .image {
        width: 115px;
        height: 115px;
      }

      .name {
        width: 115px;
      }
    }
  }
}