.promo {
  margin-top: 15px;
  width: 100%;

  border: 1px solid #f1f1f1;
  border-radius: 20px;

  .swiper {
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-size: 3px;
    --swiper-pagination-bullet-width: 3px;
    --swiper-pagination-bullet-horizontal-gap: 2px;
    --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.3);
    --swiper-pagination-bullet-active-color: white;
  }
}

.close {
  padding: 10px 14px;
  width: 87px;
  height: 30px;
}

.image {
  width: 100%;

  border-radius: 20px;

  object-fit: cover;
}
