.card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: calc(50% - 3px);
  padding: 2px;

  background-color: white;
  border-radius: 20px;

  .header {
    position: absolute;
    z-index: 2;
    top: 7px;
    right: 7px;
    left: 7px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    .favorite {
      position: absolute;
      top: 5px;
      right: 5px;

      width: 20px;
      height: 20px;
    }

    .marks {
      display: flex;
      flex-direction: column;

      .mark {
        display: flex;
        justify-content: center;
        align-items: center;
        width: min-content;
        height: 22px;
        padding: 4px 8px;
        margin-bottom: 2px;

        font-family: "Mulish";
        font-weight: 800;
        font-size: 11px;
        text-transform: uppercase;

        border-radius: 15px;
      }
    }
  }

  .imageWrp {
    width: 100%;
    height: calc((100vw - 14px) / 2);

    .image {
      width: 100%;
      height: 100%;
      
      border-radius: 20px;
      object-fit: cover;
      object-position: center;
    }

    .mockImage {
      width: 50%;
      height: 50%;
      
      border-radius: 20px;
      object-position: center;
    }
  }
  

  .description {
    margin-top: 5px;
    margin: 0 5px 0 5px;

    .priceWrp {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      
      

      .price {
        font-size: 16px;
        font-weight: bold;

        white-space: nowrap;
        text-overflow: ellipsis;

        overflow: hidden;
      }

      .oldPrice {
        font-size: 10px;
        font-weight: normal;
        text-decoration: line-through;
        white-space: nowrap;
        text-overflow: ellipsis;

        overflow: hidden;
        color: rgba($color: #292928, $alpha: 0.3);
      }

      .discountPercent {
        font-size: 10px;
        font-weight: 700;

        color: #f24131;
      }
    }

    .name {
      height: 30px;

      text-align: left;
      font-size: 13px;
      line-height: 1.15;
      text-overflow: ellipsis;

      overflow: hidden;
    }
  }

  .chooseBtn {
    justify-self: flex-end;
    width: 100%;
    height: 34px;
    margin-top: 10px;

    font-size: 12px;

    border: none;
    border-radius: 20px;
    color: #292928;
    background-color: #f1f1f1;
  }
}


