.wrp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.close {
  position: relative;
  box-sizing: border-box;

  width: 87px;
  height: 30px;
  padding: 5px 14px 5px 24px;

  font-size: 11px;
  line-height: 13px;

  color: #666;
  background-color: #c6c6c6;
  border: 1px solid #c6c6c6;
  border-radius: 20px;

  &::before {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

    width: 9px;
    height: 9px;

    background-image: url("../../assets/icons/close.svg");

    content: "";
  }
}

.more {
  position: relative;
  box-sizing: border-box;

  padding: 5px;
  margin-left: 23px;
  width: 64px;
  height: 30px;

  font-size: 11px;
  line-height: 13px;

  color: #666;
  background-color: #c6c6c6;
  border: 1px solid #c6c6c6;
  border-radius: 20px;

  &::before {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

    width: 14px;
    height: 8px;

    background-image: url("../../assets/icons/arrow-down.svg");

    content: "";
  }

  &::after {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;

    width: 13px;
    height: 8px;

    background-image: url("../../assets/icons/three-points.svg");

    content: "";
  }
}

.back {
  position: relative;
  box-sizing: border-box;

  padding: 5px 14px 5px 24px;
  margin-right: 14px;
  width: 73px;
  height: 30px;

  font-size: 11px;
  line-height: 13px;

  color: #666;
  background-color: #c6c6c6;
  border: 1px solid #c6c6c6;
  border-radius: 20px;

  &::before {
    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 2;

    width: 24px;
    height: 24px;

    background-image: url("../../assets/icons/arrow-left.svg");
    background-repeat: no-repeat;

    content: "";
  }
}

.tg {
  position: relative;
  box-sizing: border-box;

  padding: 5px 10px 5px 30px;
  width: 126px;
  height: 30px;

  font-size: 13px;
  line-height: 13px;

  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;

  &::before {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;

    width: 24px;
    height: 24px;

    background-image: url("../../assets/icons/telegram.svg");

    content: "";
  }
}