.footer {
  position: fixed;
  bottom: 0;
  z-index: 3;
  
  box-sizing: border-box;
  width: calc(100% - 10px);
  padding: 0 28px;

  border-radius: 30px;
  background-color: rgba(255, 255, 255);
  border: 1px solid rgba(108, 108, 108, 0.1);

  .navMenu {
    .list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 53px;
      padding: 0;

      list-style-type: none;
      object-position: center;

      .link {
        display: inline-block;
        width: 20px;
        height: 20px;

        object-position: center;
      }
    }
  }
}