.form {
  position: relative;

  margin-top: 10px;
  width: 100%;

  .input {
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    
    padding: 11px 20px 11px 37px;
    height: 40px;
    width: 100%;
    
    color: black;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.05);
    border: 1px solid white;
    border-radius: 30px;
    
    &::before {
      position: absolute;
      top: 10px;
      left: 20px;
      z-index: 2;

      width: 30px;
      height: 30px;
    
      background-image: url("../../assets/icons/magnifier.svg");
    
      content: "";
    }
  }
  
  .input:focus {
    outline: none;
  }
  
  .input::placeholder {
    font-size: 15px;
  
    color: #b5b5b5;
  }

  .goBtn {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 4;

    width: 79px;
    height: 30px;

    color: white;
    border-radius: 20px;
    background-color: #292928;
  }
}

