.form {
  position: relative;

  margin-top: 10px;
  width: 100%;
  
  .inputWrp {
    position: relative;
    z-index: 2;

    display: block;

    &::before {
      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 3;

      width: 30px;
      height: 30px;
    
      background-image: url("../../assets/icons/magnifier.svg");
      background-repeat: no-repeat;
    
      content: "";
    }

    .input {
      padding: 11px 20px 11px 37px;
      height: 40px;
      width: 100%;

      font-size: 15px;
      
      color: black;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.05);
      border: 1px solid white;
      border-radius: 30px;
    }

    .input:focus {
      outline: none;
    }

    .input::placeholder {
      font-size: 15px;
    
      color: #b5b5b5;
    }
  }

  .goBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 4;

    width: 79px;
    height: 30px;

    color: white;
    border-radius: 20px;
    background-color: #292928;
  }
}

