.imageWrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc((100vw - 14px) / 2);

  .swiper {
    width: 100%;
    height: calc((100vw - 14px) / 2);
  }

  .image {
    width: 100%;
    height: 100%;
    
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }

  .mockImage {
    width: 50%;
    height: 50%;
    
    border-radius: 20px;
    object-position: center center;
  }
}

@media (min-width: 600px) {
.imageWrp {
  height: calc((100vw - 14px) / 3);
  
  .swiper {
    width: 100%;
    height: calc((100vw - 14px) / 3);
  }
}

  
}