.imageWrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc((100vw - 14px) / 2);

  .swiper {
    --swiper-pagination-color: #292928;
    --swiper-pagination-bullet-size: 3px;
    --swiper-pagination-bullet-width: 3px;
    --swiper-pagination-bullet-horizontal-gap: 2px;
    --swiper-pagination-bullet-inactive-color: rgba(29, 29, 28,     0.3);
    --swiper-pagination-bullet-active-color: #292928;

    width: 100%;
    height: calc((100vw - 14px) / 2);
  }

  .image {
    width: 100%;
    height: 100%;
    
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }

  .mockImage {
    width: 50%;
    height: 50%;
    
    border-radius: 20px;
    object-position: center center;
  }
}

@media (min-width: 600px) {
  .imageWrp {
    height: calc((600px - 14px) / 3);

    .swiper {
      width: 100%;
      height: calc((600px - 14px) / 3);
    }
  }
}